<footer class="page-footer  grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Portfolio website</h5>
          Made by <a class="red-text text-lighten-3" href="#">DM</a>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Menu</h5>
        </div>


        <!-- <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul class="social-icons">
            <li><a class="white-text center" href="#!"><img src='<?php /* bloginfo('template_url') */?>/images/01_twitter1.png' alt="twitter" height="42" width="42"></a></li>
            <li><a class="white-text center" href="#!"><img src='<?php /* bloginfo('template_url') */ ?>/images/01_twitter1.png' alt="twitter" height="42" width="42"></a></li>
          </ul>
        </div> -->


      </div>
    </div>
    <br>
  </footer>

   </body>