<footer class="page-footer  grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Portfolio website</h5>
          Made by <a class="red-text text-lighten-3" href="#">DM</a>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Menu</h5>
        {% set items = simplify_menu('main') %}
        <div>
          <ul>
            {% for menu_item in items.menu_tree %}
                <li class="navigation__item">
                  <a class="white-text" href="{{ menu_item.url }}">{{ menu_item.text }}</a>
                </li>
            {% endfor %}
          </ul>
          
        </div>
        
      </div>
       <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
              {{ page.highlighted }}

             
            </div>
        

      </div>
    </div>
    <br>
  </footer>

   </body>