
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>
  Portfolio
  </title>
  <meta name="description" content="a portfolio website">
  <meta name="author" content="Dennis Morent">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <header>
    {# <nav >
    <div class="nav-wrapper container">
    <a href="/projects"><ul><li>projects</li></ul></a>
    <a href="/about" class="brand-logo">DM</a>
    </div>
    </nav> #}

    {# Get menu items #}
{% set items = simplify_menu('main') %}
{% set secondary_menu_items = simplify_menu('account') %}

{# Iterate menu tree #}

<nav>
<div class="nav-wrapper container">
 <a href="#" class="brand-logo">DM</a>


<ul class="right">
  {% for menu_item in items.menu_tree %}
    <li class="navigation__item">
      <a href="{{ menu_item.url }}">{{ menu_item.text }}</a>
    </li>
  {% endfor %}

   {% for menu_item in secondary_menu_items.menu_tree %}
    <li class="navigation__item account-nav">
      <a href="{{ menu_item.url }}">{{ menu_item.text }}</a>
    </li>
  {% endfor %}
  
</ul>

</nav>



</div>
  </header>




