{% include directory ~ '/templates/header.html.twig' %}

<main class="container">
<section class="section col s12">
    <br><br>
      <h1 class="header center grey-text text-darken-3">Page not found</h1>
      <div class="row center">
        <h5 class="header light">Looks like this page doesn't exist.
      </div>
      <div class="row center">
        <a href="home" class="btn-large waves-effect waves-light red lighten-2">Home</a>
      </div>
      <br><br>
</section>
</main>
	
{% include directory ~ '/templates/footer.html.twig' %}
