{% include directory ~ '/templates/header.html.twig' %}


<main class="container"> 
<section>

<div class="row">
{{page.content}}
</div>
</section>
</main>

{% include directory ~ '/templates/footer.html.twig' %}




