body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  max-width: 1280px;
  margin: auto;
}

main,
aside {
  flex: 0 100%;
}

main {
  flex: 1 0 0px;
}

aside {
  flex: 0 0 200px;
  padding: 20px;
}

.sidebar-card {
  padding: 20px;
}


.social-icons {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}


.social-icons li {
  margin: 1px;
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  width: 25%;
}

.skill-container {
  width: 100%;
  background-color: #eeeeee;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.html-skill {
  width: 90%;
  background-color: #e57373;
}

.css-skill {
  width: 70%;
  background-color: #e57373;
}

.js-skill {
  width: 80%;
  background-color: #e57373;
}

.angular-skill {
  width: 70%;
  background-color: #e57373;
}

.node-skill {
  width: 50%;
  background-color: #e57373;
}

.netcore-skill {
  width: 60%;
  background-color: #e57373;
}

.nest-skill {
  width: 60%;
  background-color: #e57373;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 150px !important;
}






form {
  margin: 10px;
}

.form-wrapper {
  margin: 10px;
}
